.notePage {
    display: flex;
    flex-direction: row;
}

.folder-notePage {
    list-style: none;
}

.noteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}